<div class="modal fade" id="tfa_send_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title trn">Authorize <%= name %></h4>
            </div>
            <div class="modal-body">
                <h5 class="modal-title trn">You are about to share the following data: </h5>
                <% for (var i = 0; i < permissions.length; i++) { %>
                    <div class="form-group">
                        <label>x</label>
                        <p><%=permissions[i]%></p>
                    </div>
                <% } %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger trn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success trn" id="tfa_send_modal_confirm">Confirm</button>
            </div>
        </div>
    </div>
</div>
</div>