<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 id="panel-title" class="panel-title">Create Persona</h3>
    </div>

    <div class="panel-body">
        <div class="control-group">
            <label class="control-label">Address</label>
            <h4 class="address" id="user-address">0x...</h4>
            <a id="private-key-toggle" href="javascript:;">Show private key...</a><h4 class="private-key" id="user-private-key" style="display:none;"></h4>
        </div>

        <div class="col-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Category: Personal</h3>
                </div>

                <div class="panel-body">
                    <div class="control-group">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" name="name" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Category: Contact</h3>
                </div>

                <div class="panel-body">
                    <div class="control-group">
                        <label class="control-label">Email Address</label>
                        <input type="text" class="form-control" name="email" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Category: Address</h3>
                </div>

                <div class="panel-body">
                    <div class="control-group">
                        <label class="control-label">City</label>
                        <input type="text" class="form-control" name="city" />
                    </div>

                    <div class="control-group">
                        <label class="control-label">Country</label>
                        <input type="text" class="form-control" name="country" />
                    </div>
                </div>
            </div>
        </div>

        <div class="control-group">
            <button id="create-button" class="btn btn-lg btn-primary">Create</button>
        </div>
    </div>
</div>