<!--<div class="full">-->
    <!--<video id="preview" autoplay></video>-->
    <!--<img src="/assets/qr_cursor.png" id="qr_cursor" />-->
<!--</div>-->

<video id="preview"></video>
<!--<script type="text/javascript">-->
    <!--var scanner = new Instascan.Scanner({ video: document.getElementById('preview') });-->
    <!--scanner.addListener('scan', function (content) {-->
        <!--console.log(content);-->
    <!--});-->
    <!--Instascan.Camera.getCameras().then(function (cameras) {-->
        <!--if (cameras.length > 0) {-->
            <!--scanner.start(cameras[0]);-->
        <!--} else {-->
            <!--console.error('No cameras found.');-->
        <!--}-->
    <!--}).catch(function (e) {-->
        <!--console.error(e);-->
    <!--});-->
<!--</script>-->